body{
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  
}

a{
  text-decoration: none;
  cursor: pointer ;
}

header{
  width: 100%;
  height: 60px;
}

header nav{
  display: flex;
  justify-content: flex-end;
}

header nav .nav-rigth-section{
  width: 250px;
  height: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
nav .nav-rigth-section a{
  margin-right: 15px;
  color:#000000;
}

nav .nav-rigth-section .menu-icon{
  background-image: url('https://static.thenounproject.com/png/756729-200.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}
nav .nav-rigth-section img{
  border-radius: 50px;
  margin-left: 10px;
}

main{
  margin-top: 150px;
  text-align: center;

}

main .main-logo{
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}

main .main-logo img{
  width: 300px;
  height: 100px;
}

main .main-input{
  width: 530px;
  margin: 0 auto;
  margin-bottom:20px;
  margin-top: 20px;
}

main .main-input-container{
  width: 525px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-input input{
  width: 450px;
  height: 35px;
  border: none;
  outline: none;
  background-color: whitesmoke;
}

main .main-input-container:hover{
  box-shadow: 0 1px 6px 0 gray;
  border-color: #dfe1e500;

}

main .main-input .search-icon{
  background-image: url('https://w7.pngwing.com/pngs/456/948/png-transparent-computer-icons-desktop-web-search-engine-wordpress-com-search-icon-search-logo-website-circle-wordpresscom-thumbnail.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}

main .main-input .micro-icon{
  background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 22px;
  height: 22px;
}

main .main-buttons{
  width: 530px;
  margin: 0 auto;

}

main .main-buttons div{
  display: inline-block;
}

main .main-buttons button{
  height: 36px;
  background-color: #e6e2e2;
  border: 0;
  font-size: 14px;
  color: #5f6368;
  border-radius: 5px;
  padding: 0 15px;
  margin:0px 15px;
  cursor: pointer;
}

main .main-buttons button:hover{
  border: solid 1px #d4d4d4;
  box-shadow: 0 1px 1px rgb(54, 54, 54);
  color: black;
}